:focus-visible{
  outline: 1px dotted rgb(48, 48, 48);
}

body {
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Lexend Giga', sans-serif;
}

h2, 
h3, 
h4{
  font-family: 'Lexend Exa', sans-serif;
}

h5, 
h6 {
  font-family: 'Lexend Deca', sans-serif;
}

span, p {
  font-family: 'Lato', serif;
}